<%- include('includes/head'); %>
<%- include('includes/nav'); %>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 my-3">
      <h1 class="text-center">Agenda</h1>
      <p class="text-center lead">Seus contatos estão abaixos.</p>
      <div class="row">
        <div class="col my-3">
          <div class="alert-danger">Um erro qualquer  </div>
        </div>
      </div>

      <div class="responsive-table"></div>
      <table class="table my-3">
        <tr>
          <td>Diogo</td>
          <td>Alves</td>
          <td>(81)9999999999</td>
          <td>email@email.com</td>
        </tr>
        <tr>
          <td>Thiago</td>
          <td>Alves</td>
          <td>(81)9999999999</td>
          <td>email@email.com</td>
        </tr>
        <tr>
          <td>Gustavo</td>
          <td>Alves</td>
          <td>(81)9999999999</td>
          <td>email@email.com</td>
        </tr>
      </table>

    </div>
    <div class="col-lg-2"></div>
  </div>
</div>

    

<%- include('includes/footer'); %>